a {
    text-decoration: none;
    color: darkgreen;
}

a:visited {
    color: inherit;
}


a:hover {
    color: rgb(1, 217, 1);

}

h1 {
    color: rgb(55, 108, 55);
}



main {
    padding: 16px;
}

footer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 25px;
    padding-right: 0px;
    background-color: rgb(100, 162, 78);
    font-size: 20pt;
}

nav {
    border-bottom: 1px solid rgb(255, 154, 53);
    padding: 16px;
    background-color: rgb(248, 143, 105);
}

img {
    height: 200px;
}

.rec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.veg {
    color: red
}

.items:nth-child(even) {
    background-color: lightgray;
}
